<?xml version='1.0' encoding='utf-8'?>
<widget id="com.okode.demo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>demo</name>
    <description>Simple Stencil Cordova App.</description>
    <author email="info@okode.com" href="https://www.okode.com">Okode</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <feature name="CDVWKWebViewEngine">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="4.5.2" />
    <engine name="android" spec="6.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="1.3.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="1.1.16" />
</widget>
